.header {
  z-index: 1;
  margin-top: 60px;
}

.header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header > h1 {
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  padding: 20px 0 10px 0;
  text-align: center;
  color: #293356;
}

.header > div > h2 {
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: #848ead;
}

@media screen and (min-width: 800px) {
  .header {
    margin-top: 80px;
  }

  .header > div {
    flex-direction: row;
  }

  .header > h1 {
    font-size: 28px;
    line-height: 38px;
  }

  .header > div > h2 {
    font-size: 15px;
    line-height: 20px;
  }
}
